@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    box-sizing: border-box;
    // This allows 1rem = 10px
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #161616;
    color: #8A8A8A;
    font-size: 1.4rem;
    font-weight: 400;
}

.background-cover {
    height: 200vh;
    width: 200vh;
    position: fixed;
    z-index: -1000;


    background-position: center;
    background-repeat: repeat;
    background-size: 160px;
}

header {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    border-bottom: 1px solid #242424;

    a {
        display: inline-block;

        &:nth-child(2) {
            margin-right: auto;
        }
    }

    .email-button {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 25px;
            height: 25px;
        }
    }
}

.accent-color {
    background-color: #1A1A1A;
}

.subtle-border {
    border: 1px solid #242424;
}

main {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    &.hero {
        margin: 90px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

         figure {
             img {
                 width: 120px;
                 height: 120px;
                 border-radius: 50%;
                 margin: 0 auto;
                 margin-bottom: 20px;
             }
         }

        h1 {
            font-size: 56px;
            line-height: 68px;
            letter-spacing: 0px;
            word-spacing: 0px;
            margin: 12px auto 50px auto;
            max-width: 40%;
        }

        .call-to-action {
            padding: 18px 48px 18px 48px;
            display: flex;
            align-items: center;
            width: min-content;
            border-radius: 3px;
            font-size: 1.6rem;

            p {
                white-space: nowrap;
            }

            svg {
                height: 35px;
                width: 35px;
            }
        }
    }

    &.testimonials {
        padding: 50px 0px 50px 0px;
    }

    &.services {
        max-width: 1100px;
        margin: 130px auto 100px auto;

        h2 {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 40px;
            letter-spacing: 0;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            gap: 20px;

            .card {
                padding: 140px 20px 30px 20px;
                height: 350px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: baseline;
                gap: 20px;
                text-align: left;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    background-color: blue;
                }
            }
        }
    }

    &.work-sample {
        margin-top: 100px;
        border-top: 1px solid #242424;
        padding-top: 100px;
        padding-bottom: 100px;

        h2 {
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 40px;
            letter-spacing: 0;
        }

        figure {
            display: flex;
            width: 60%;
            margin: 0 auto 20px auto;
            height: 200px;

            a {
                overflow: hidden;
                width: 60%;

                img {
                    width: 100%;
                }
            }

            figcaption {
                text-align: left;
                padding: 20px;

                h5 {
                    font-size: 3rem;
                }
            }
        }
    }

    &.last-call-to-action {
        border-top: 1px solid #242424;
        padding: 150px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 56px;
            line-height: 64px;
            letter-spacing: 0;
            word-spacing: 0;
            max-width: 40%;
            margin-bottom: 30px;
        }

        .call-to-action {
            padding: 18px 48px 18px 48px;
            display: flex;
            align-items: center;
            width: min-content;
            border-radius: 3px;
            font-size: 1.6rem;

            p {
                white-space: nowrap;
                margin-right: 12px;
            }

            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
}

footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    border-top: 1px solid #242424;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    padding: 40px 0;

    &>*:first-child {
        margin-right: auto;
    }
}

