@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    // This allows 1rem = 10px
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// ==========================

body {
    background-color: #191919;
    color: #9A9A9A;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    border-bottom: 1px solid #242424;

    a {
        display: inline-block;

        &:nth-child(2) {
            margin-right: auto;
        }
    }

    .email-button {
        height: 61px;
        width: 61px;
        border-radius: 50%;
    }
}

.accent-color {
    background-color: #1A1A1A;
}

.subtle-border {
    border: 1px solid #242424;
}

main {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    &.hero {
        margin: 70px 0;

         figure {
             figcaption {
                 font-size: 14px;
             }

             img {
                 width: 120px;
                 height: 120px;
                 border-radius: 50%;
                 margin: 0 auto;
                 margin-bottom: 20px;
                 background-color: blue;
             }
         }

        h1 {
            font-size: 56px;
            line-height: 68px;
            font-weight: 400;
            letter-spacing: 0px;
            word-spacing: 0px;
            margin: 50px auto;
            max-width: 40%;
        }

        .call-to-action {
            font-size: 16px;
            font-weight: 400;
            color: #9A9A9A;
            padding: 24px 48px 24px 48px;
        }
    }

    &.testimonials {
        padding: 50px 0px 50px 0px;
    }

    &.services {
        max-width: 1100px;
        margin: 130px auto 100px auto;

        h2 {
            font-size: 32px;
            font-weight: 400;
            line-height: 42px;
            margin-bottom: 40px;
            letter-spacing: 0;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            gap: 20px;

            .card {
                padding: 140px 20px 30px 20px;
                height: 350px;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    background-color: blue;
                }
            }
        }
    }
}

footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    border-top: 1px solid #242424;
}

