.card-horizontal {
    display: flex;
    height: 200px;
    margin: 0 auto;

    @include mq-below('small') {
        flex-direction: column;
        width: 80%;
        height: auto;
    }

    a {
        overflow: hidden;
        max-width: 60%;
        min-width: 60%;

        @include mq-below('small') {
            max-width: 100%;
            min-width: 100%;
        }

        img {
            width: 100%;
        }
    }

    figcaption {
        text-align: left;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .tool-icons {
            display: flex;
            margin-top: auto;

            svg {
                height: 25px;
                width: auto;
                margin-right: 8px;
            }
        }
    }
}
