.call-to-action {
    border-top: 1px solid $grey-6;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        letter-spacing: 0;
        word-spacing: 0;
        max-width: 40%;
        margin-bottom: 30px;
    }

    .button {
        padding: 18px 48px 18px 48px;
        display: flex;
        align-items: center;
        width: min-content;
        border-radius: 3px;
        cursor: pointer;

        p {
            white-space: nowrap;
            margin-right: 12px;
        }

        svg {
            height: 20px;
            width: 20px;
        }
    }
}
