.card-set-vertical {
    max-width: 1100px;
    margin: 130px auto 100px auto;
    border-top: 1px solid $grey-6;
    padding: 100px 10% 0 10%;

    h2 {
        margin-bottom: 40px;
        letter-spacing: 0;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;

        @include mq-below('medium') {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        @include mq-below('x-small') {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
        }
    }
}
