.card-set-vertical {
    h2 {
        letter-spacing: 0;
        margin: 0 auto 60px auto;
        width: min-content;
        white-space: nowrap;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;

        @include mq-below('medium') {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        @include mq-below('x-small') {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
        }
    }
}
